.focus {
    display: inline-block;
}

.divEl {
    display: none;
}

.divEl.active {
    display: inline-block;
    vertical-align: top;
    padding: 70px 160px 70px 160px;
    background-color: rgb(0, 182, 0);
}